<ul>
  <% @products.each do |product| %>
  <h1><%= link_to product.name, product_path(product) %></h1>
  <%= product.description %><br>
  <%= product.price %><br>
  <%= product.created_at %><br>
  <%= product.updated_at %><br>
  <hr>
  <% end %>
</ul>
<%= link_to "Add Product", new_product_path %>
