<!DOCTYPE html>
<html>
<head>
  <title>CrudPracticeProducts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if flash[:notice] %>
  <h2><div class="notice"><%= flash[:notice] %></div></h2>
  <% end %>
<%= yield %>

</body>
</html>
